/* Reset */
* {
  padding: 0;
  margin: 0;
}

#container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}

canvas {
  image-rendering: pixelated;
  /* 
    This seems to be an _old_ solution:border:
    https://gamedev.stackexchange.com/questions/183179/completely-pixelated-font-in-javascript-canvas
   */
  font-smooth: never;
  -webkit-font-smoothing: none;
  background: #000000;
  margin: auto;
  padding: 0;
  display: block;
}
